html {
  scroll-behavior: smooth;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  padding: 1rem;
}

.anchor {
  padding-top: 3.5rem;
}

#imgIcon {
  height: 1.7rem;
  width: 1.7rem;
}

#navBar {
  float: right;
}

#projects .jumbotron {
  padding-top: 1rem;
}
