html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  margin: 0;
}

nav {
  background-color: #094067;
  padding: 5px;
}

ul {
  display: flex;
}

ul a {
  padding: 0px 5px 0px 5px;
}

#navBar {
  display: flex;
  justify-content: space-between;
}

#navBar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}

#navBar:first-child {
  padding: 0px 50px 0px 50px;
}

#aboutMe {
  display: flex;
  padding: 50px;
  font-weight: lighter;
}

#aboutMe div {
  padding: 20px;
}

#pfp {
  width: 250px;
  max-width: 100%;
}